<h2>New Entry</h2>

<% if @current_user != nil %>
  <form action="/entries" method="post" enctype="multipart/form-data">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" name="title" id="title" class="form-control">
    </div>

    <div class="mb-3">
      <label for="occurred_on" class="form-label">Date</label>
      <input type="date" name="occurred_on" id="occurred_on" class="form-control">
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea name="description" id="description" class="form-control"></textarea>
    </div>

    <%= hidden_field_tag "place_id", params["place_id"] %>

    <div class="mb-3">
      <label for="image" class="form-label">Upload Image (optional)</label>
      <input type="file" name="image" id="image" class="form-control">
    </div>

    <button class="btn btn-primary">Create Entry</button>
    <a href="/places" class="btn btn-secondary">Cancel</a>
  </form>
<% else %>
  <p>You must <a href="/login">login</a> to create a post.</p>
<% end %>